*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open-Sans", Arial 
}

.contenedor{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

/*----------------------Header-------------------------*/

header{
	width: 100%;
	height: 800px;
	background:  url('../img/pechu1.jpg') #281a0c;
	background-size: cover;
	background-attachment: fixed;
	background-position: center 0;
}

header .contenedor{
	position: relative;
	height: 700px;
}

header .menu{
	width: 100%;
	text-align: right;
}

header .menu a{
	color:#fff;
	font-weight: 300;
	font-size: 20px;
	display: inline-block;
	margin: 40px 20px;
	text-decoration: none;
	position: relative;
}
header .menu a:hover{
	text-decoration: underline;
}
header .textos {
	width: 100%;
	height: 1000px;
	color: #fff;
	position: absolute;
	top: 50%;	/*background: #000;*/
	margin-top: -52px;
}

header .textos .nombre{
	font-size: 50px;
	font-weight: 600;
	color: #7676EF;

}

header .textos .nombre span{
	font-weight: 300;
}

header .textos h3{
	font-weight: 300;
	font-size: 25px;
	font-style: italic;
	color: #958F92;
}

/*------------------------------Main------------------*/

.main{
	/*background: url('../img/webb/webb.png');*/
	/*background-repeat: repeat;*/
}
.main .acerca-de .contenedor{
	overflow: visible;
	position: relative;
}
.main .acerca-de .foto{
	width: 80%;
	position: absolute;
	left: 0;
	top: -50%;
	z-index: 0;
	box-shadow: 0px 0px 15px rgba(0,0,0,.50);
}
.main .acerca-de .foto img{
	vertical-align: top;
	width: 100%;
}
.main .acerca-de article{
	background: #fff;
	padding: 40px;
	width: 50%;
	position: relative;
	top: 500px;
	float: right;
	z-index: 1;
	border: 3px solid (0,0,0.35);
	
	box-shadow: 0px 0px 15px rgba(0,0,0,.50);
}

.main .acerca-de article h3{
	font-size: 50px;
	font-weight: 300;
	margin-bottom: 40px;
}

.main .acerca-de article p{
	line-height: 20px;
	margin-bottom: 15px;
}
/*------------menu----------------------------------------------------------------*/
.main .menu{
	margin: 0 auto;
	padding-top: 670px;
	margin-bottom: 50px;	
}
.main .menu .titulo{
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 40px;
}
.main .menu .contenedor-menu,
.main .menu .contenedor-menu2 {
	border: 1px solid #000;
	background:transparent;
	padding: 10px;
	overflow: hidden;
}
.main .menu article{
	width: 50%;
	float: left;
	padding: 20px;
}
.main .menu .categoria{
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 40px;
	text-align: center;
}
.main .menu .platillo{
	margin-bottom: 30px;
	padding-bottom:20px;
	border-bottom: 4px dotted #000;
	overflow: hidden; 
}
.main .menu .nombre{
	font-size: 20px;
	margin-bottom: 15px;
	float: left;
}
.main .menu .precio{
	font-size: 20px;
	margin-bottom: 15px;
	float: right;	
}
.main .menu .descripcion{
	font-size: 16px;
	color: #676767;
	clear: both;
}

/*-------------------------------------Galeria--------------------------------------------*/
.main .galeria{
	overflow: hidden;

}
.main .galeria .foto{
	width: 20%;
	float: left;
}
.main .galeria img{
	width: 100%;
	opacity: 0.7;
}

.main .galeria .foto:hover img{
	opacity: 1;
	transition: all 1s ease;
}
/*----------------------------------------Ubicacion-------------------------*/
.main .titulo{
	text-align: left;
}
.main .ubicacion{
	background:#BCBCDA ;
	padding:10px;
	line-height: 40px;
	font-weight: 300;
	margin-bottom: 40px;
	overflow: hidden;	
}
.main .ubicacion .contenedor {
	width: 100%;
	/*background:#000;*/
	}
.main .ubicacion .contenedor .direccion{
	width: 50%;
	float: left;
	text-align: left;

	/*margin:20px;*/
}

.main .ubicacion .contenedor .horarios{
	width: 50%;
	float: right;
	text-align: right;
	vertical-align: top;
	overflow: hidden;
}

.main .ubicacion .contenedor .horarios .calle{
	margin-bottom: 15px;
}

.main .ubicacion .contenedor .horarios h4{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
	
}
.main .contenedor .entre-semana{
	width: 50%;
	float: left;
	text-align: left;
}

.main .contenedor .fin-semana{
	width: 50%;
	float: right;
	text-align: right;
}

/*-------------------Mapa--------------------------*/
.main .mapa{
	width: 100%;
	overflow: hidden;
}
.main .mapa iframe{
	width: 100%;
	max-height: 600px;

}

/*------------------------FOOTER------------------------*/
footer{
	background: #000;
}
footer .copyright{
	text-align: center;
	padding: 15px 0;
	color: #fff;
}


/*-------------------------------------------------------------------------------------------------------*/



/*--------------------------------------------Mediaqueries--------------------------------*/
@media screen and (max-width: 800px){
	header .contenedor{
		position: static;
		height: auto;
	}
	header .textos {
		position: static;
		margin:100px 0;
	}
	header .menu{
		text-align: center;
		display: flex;
		justify-content: space-around;
		overflow: hidden;
	}
	header .menu a{
		width: 20px;
		margin:10px 20px;
		padding: 10px;
	}
	.header .textos .nombre{
		font-size: 30px;
	}
	header .textos h3{
		font-size: 18px;
	}


	.main .acerca-de .foto{
		width: 100%;
		position:relative;
	}
	.main .acerca-de article{
		position: relative;
		width: 100%;
		top: -50px;
		transform: translate(0px, 0);
	}
	.main .menu{
		padding-top: 300px;
	}
	.main .menu article{
		width: 100%;
	}
	.main .galeria .foto{
		width: 50%;

	}
	.main .mapa{
		width: 80%;
		margin: auto;
	}

}

@media screen and (max-width: 500px) {
	.main .acerca-de article h3{
		font-size: 34px;
		margin-bottom: 10px;
	}
	.main .menu article .nombre,
	.main .menu article .precio{
		font-size: 16px;
		line-height: 16px;
	}
	.main .ubicacion .contenedor .titulo{
		text-align: center;
		font-size: 32px;
	}
	.main .ubicacion .contenedor .direccion, 
		.main .ubicacion .contenedor .horarios {
		width: 100%;	
		text-align: center;
	}
}
/*--------------------Codigo mio para el menu vertical ------------------------------*/
	/*.main .menu .contenedor .contenedor-menu2{
		width: 100%;
		/*background:#000;
		text-align: center;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	/*.main .menu .contenedor .contenedor-menu2 .platillo{*/
		/*text-align: center;*/
		
	/*}*/



/*----------------------------------------------este es mi codigo del menu--------*/

/*.main .menu .contenedor-menu{
	width: 80%;
	height: 500px;
	border: 1px solid #000;
	margin: 10px;	
}

 .menu .contenedor-menu .contenedor-menu2{
 	width: 97%;
 	height: 97%;
 	line-height: 25px;
	border: 1px solid #000;
	padding:30px;
	margin: 10px;
	display: flex;
	justify-content: flex-start;ç
	flex-wrap: wrap;
	background: url('../img/c3.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}
.main .menu .contenedor-menu .contenedor-menu2 .platillo{
	width: 100%;
	font-weight: 300;
	font-family: 'Open Sans';
	font-size: 15px;	
	color: #fff;
	/*background: #000;*/
/*}*/